<nav class="navbar navbar-expand-lg sticky-top nav-style p-3 justify-content-around" style="background-color: black;">
    <a href="/logout" class="btn-primary">
        <i class="bi bi-arrow-left" style="color: #FCA311;"></i>
    </a>
    <a href="/filme">
        <i class="bi bi-film" style="color: #FCA311"></i>
    </a>
    <a href="/cadastrar">
        <i class="bi bi-plus" style="color: #FCA311"></i></a>
    <a class="navbar-brand" style="color: #FCA311;">CineFlix</a>
</nav>